FRONTEND_PORT=8000
BACKEND_PORT=8080

OPENAI_API_KEY=

DJANGO_SECRET_KEY=

FILESERVER_URL_POST = http://134.94.199.40/
FILESERVER_URL_GET = http://134.94.199.40/neo4j/
FILESERVER_URL_DEL = http://134.94.199.40/del/