FRONTEND_PORT=8000
BACKEND_PORT=8080

POSTGRES_USER=django_db
POSTGRES_PASSWORD=django_user
POSTGRES_DB=asdfsdfsdafdsfa
POSTGRES_HOST=mg-postgres

OPENAI_API_KEY=

DJANGO_SECRET_KEY=

GITHUB_WEBHOOK_SECRET=

TOKEN_SECRET=

SENDGRID_API_KEY=

MONGODB_URI=

TLS_CERTIFICATE_KEY_FILE=
TLS_CA_FILE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=