Wotzka/
venv/
.idea/
out/
.env
source/
docs/
*.log
node_modules/
build/
static/
/userBackendNodeJS/src/config.ts
*.sh
!deployDjango_docker.sh
!deployUserBackend_docker.sh
neo4j_data/
postgres_data/

# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

postgres_data/
neo4j_data/
# Mac OSX
.DS_Store
